/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;


    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(0, 0%, 0%);
    --first-color-alt: hsl(20, 7%, 8%);
    --first-color-light: hsl(12, 4%, 27%);
    --second-color: hsl(38, 10%, 56%);
    --title-color: hsl(0, 0%, 93%);
    --text-color: hsl(0, 5%, 96%);
    --text-color-light: hsl(0, 2%, 34%);
    --white-color: #fff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --second-font: "Pacifico", cursive;
    --biggest-font-size: 2.75rem;
    --big-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4.5rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #000;
    color: #fff;
    line-height: 1.6; /
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
} 

.section {
    padding-block: 4.5rem 3.5rem;
}

.section__title {
    color: var(--title-color);
    font-size: var(--big-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-regular);
    line-height: 120%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.main {
    overflow: hidden; /* For animation ScrollReveal */
} 

/*==================HEADER & Navbar ===================*/
.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 100; 
}

.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo  {
    width: 100%;
    height: 100px;
}

.nav__toggle,
.nav__close {
    display: flex;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 18px;
}

/* Nav for mobile */
@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsla(0, 0%, 0%, .3);
        width: 100%;
        padding-block: 4rem ;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px); /* For Safari */
        transition: top .4s;
    }
}

.nav__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    position: relative;
    color: #fff;
    font-family:"Monsterrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    top: 0;
}
/* add blur to header */
.blur-header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    top: 0;
    left: 0;
    z-index: -1;
}

/* Active Link */
.active-link {
    color: red;
}


/* For large device */
@media screen and (min-width: 1023px) {
    .nav {
        height: calc(3.5rem + 1.5rem);
    }
    .nav__close,
    .nav__toggle {
        display: none;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__menu {
        width: initial;
    }
    .blur-header::after {
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px); /* for safari */
    }
    .nav__link:hover {
        color: var(--title-color);
    }
    .nav__link::after {
        background-color: var(--title-color);
    }
    .nav__link-button {
        background-color: #fff;
        color: #000;
        padding: 1.1rem 1.5rem;
    }
    nav__link-button:hover {
        color: #333;
    }
    nav__link-button::after {
        background-color: transparent;
    }
    .nav__logo  {
        width: 12%;
    }
    .logo__img {
        width: 100%;
        height: 100%;
    }
}

/* banner home */
.home {
    background: #000;
    position: relative;
}

.home_container {
    padding-top: 1rem;
    padding-bottom: 7rem;
    row-gap: 2rem;
}

.home_data {
    text-align: center;
}

.home_subtitle {
    font-size: .938rem;
    color: red;
    font-weight: 400;
    margin-bottom: .75rem;
}

.home_title,
.home_description{
    color: #fff;
}


.home_title {
    text-align: initial;
    font-size: 3rem;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    line-height: 120%;
    margin: 0 auto 2rem;
    position: relative;
    width: 100%;
}

.home_title img {
    width: 80px;
    position: absolute;  
    right: 11rem;
    bottom: -1.0rem;
}

.home_description {
    margin-bottom: 2rem;
}

.home_img {
    width: 320px;
    height: 360px;
    justify-self: center;
}

.home__bg-img {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -132px;
    opacity: .15;
}

/*===================== BREAKPOINTS ===================*/
/* For small device */
@media screen and (max-width: 450px) {
    .container {
        margin-inline: 1rem;
    }
    .home_title {
        width: 220px;
        text-align: center;
    }
    .home_title img {
        right: -2.5rem;
        bottom: -1.4rem;
    }
}

/* For medium device */
@media screen and (min-width: 576px) {
    .home_container,
    .sec1,
    .sec2,
    .sec3 {
        grid-template-columns: 440px;
        justify-content: center;
    }
    .home_title {
        width: 400px;
        text-align: center;
    }
    .home_title img {
        right: -1.0rem;
        bottom: -2rem;
    }
}

/* For large device */

@media screen and (min-width: 1023px) {
    .section {
        padding-block: 8rem .5rem 8rem;
        --border-section: 104px 104px 0 0;
    }
    .home_container {
        grid-template-columns: max-content 440px;
        align-items: center;
        padding-top: 5rem;
    } 
    .home_img {
        order: -1;
        width: 430px;
    }
    .home_data {
        text-align: initial;
    }
    .home_title img {
        width: 90px;
    }
    .home_title {
        margin-right: 5rem;
        text-align: center;
    }
    .home_description {
        margin-bottom: 3rem;
    }
    .home__bg-img {
        top: 1rem;
        left: 7rem;
        width: 100%;
        height: 100%;
        object-position: -132px;
    }
}

/*============ BUTTON =============*/

.butn {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: #cf2929;
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 8px 32px hsla(0, 61%, 83%, 0.25);
    transition: box-shadow .3s;
}

.butn:hover {
    box-shadow: 0 8px 48px hsla(0, 71%, 82%, 0.5);
}


/*================ Visi & Misi ================*/
.sec1 {
    position: relative;
    padding: 80px 0;
    background: url(/assets/img/tiga.jpg);
    background-size: cover;
}
.sec1 h3 {
    text-transform: uppercase;
    line-height: 20px;
}
.sec1 p {
    line-height: 17px;
    font-size: 20px;
}
.sec1-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1 .text {
    width: 47%;
}
.sec1 .text-left {
    text-align: right;
}
.sec1 .text-right {
    text-align: left;
}
.sec1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}
.sec1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

/*===================== for mobile ====================*/
@media screen and (max-width: 1023px) {
    .sec1 {
        padding: 25px;
    }
    .sec1 h3 {
        text-transform: capitalize;
        line-height: 15px;
    }
    .sec1 p {
        font-size: medium;
        line-height: 15px;
    }

    .sec1 .text {
        width: 45%;
    }
    .sec1:before {
        content: '';
        position: absolute;
        top: 180px;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, transparent, #fff, transparent);
    }
    .sec1:after {
        content: '';
        position: absolute;
        bottom: 180px;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to left, transparent, #fff, transparent);
    }
}

/*======================== ROBUSTA & ARABICA ===================*/
.sec2 {
    padding: 65px 0 0;
    background: url(img/roastedremove.png);
    background-size: cover;
}
.sec2 h2 {
    text-transform: uppercase;
}
.sec2 p {
    line-height: 30px;
    height: 90px;
    font-size: 20px;
    font-weight: 200;
    overflow: hidden;
}
.readmore-btn {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 60px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    z-index: 9;
    margin-top: 50px;
    transition: all ease 0.5s;
}
.readmore-btn:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    opacity: .9;
    z-index: -1;
    transition: all ease 0.5s;
}
.readmore-btn:hover {
    color: #fff;
}
.readmore-btn:hover:before {
    top: 0;
    height: 100%;
}
.sec2-inner .showContent  p {
    height: auto;
}
.sec2-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sec2-inner .img {
    width: auto;
}

.sec2__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 50%,
                hsl(0, 0%, 0%) 125%);
}

.sec2-inner .text {
    width: 55%;
    margin-left: -65px;
    z-index: 9;
}
.sec2 .text-inner {
    position: relative;
    margin: 55px 0 0 190px;
}
.sec2 .text-inner:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -25px;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top, transparent, #fff);
}
.left-right-sec:nth-child(even) .text {
    margin-right: -65px;
    text-align: right;
}
.left-right-sec:nth-child(even) .text-inner {
    margin: 55px 190px 0 0;
}
.left-right-sec:nth-child(even) .text-inner:before {
    left: inherit;
    right: -30px;
}

/*===================== for mobile ====================*/
@media screen and (max-width: 1023px) {
    .sec2 {
        padding: 50px 10px 20px 18px;
    }
    .sec2 h2 {
        text-transform: capitalize;
        top: 10px;
        margin: 0 25px 0 25px;
    }
    .sec2 p {
        font-size: 15px;
        line-height: 20px;
        height: 78px;
        overflow: hidden;
    }
    .readmore-btn {
        width: 100px;
        height: 26px; 
        line-height: 27px;
        font-size: 13px;
        z-index: 1;
        margin-top: 15px;
    }
    .readmore-btn:before {
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        opacity: .9;
        z-index: -1;
    }
    .readmore-btn:hover:before {
        top: 0%;
        height: 100%;
    }
    .sec2-inner .showContent  p {
        height: auto;
    }
    .sec2-inner {
        margin-left: 0;
    }    
    img {
        height: 120px;
        width: 115px;
    }
    .sec2-inner .text {
        width: 100%;
        margin-left: -30px;
        z-index: 9;
    }
    .sec2 .text-inner {
        position: relative;
        top: -13px;
        margin: 26px 0 0px 70px;
    }

    .sec2-inner {
        top: -30px;
    }
    
    .left-right-sec:nth-child(even) .text {
        margin-right: -30px;
        text-align: right;
    }
    .left-right-sec:nth-child(even) .text-inner {
        margin: 26px 20px 0 0;
    }
    .left-right-sec:nth-child(even) .text-inner:before {
        left: inherit;
        right: -15px;
    }
}

/*======================== OUR PRODUCT =========================*/

.sec3 {
    padding: 150px 0 0;
    background: url(img/1_1-removebg.png);
    background-size: cover;
}
.sec3 h2 {
    text-transform: uppercase;
    max-width: 100%;
}
.sec3-slider {
    margin-top: 90px;
}
.items img {
    width: 250px;
    height: 305px;
}

.slick-arrow {
    position: absolute;
    top: -160px;
}
.slick-prev {
    left: inherit; 
    right: 180px;
}
.slick-next {
    right: 90px;
}
.slick-next:before,
.slick-prev:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fff url(/images/right.svg) no-repeat;
    background-size: 14px;
    background-position: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 1px solid #fff;
    opacity: 1;
}

.slick-prev:before {
    background: transparent url(/images/l.svg) no-repeat;
    background-size: 14px;
    background-position: center;
}

/*===================== for mobile ====================*/
@media screen and (max-width: 1023px) {
    .sec3 {
        padding-top: 10px;
    }
    .sec3 h2 {
        text-transform: capitalize;
    }

    .items img {
        height: 125px;
        width: 120px;
    }
    .slick-arrow {
        top: -60px;
        margin-right: 20px;
    }
    .slick-prev {
        right: 10px;
    }
    .slick-next {
        right: 43px;
    }
    .slick-next:before,
    .slick-prev:before {
    background: transparent url(/images/l.svg) no-repeat;
    background-size: 10px;
    background-position: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    }
    .slick-prev:before {
    background: #fff url(/images/right.svg) no-repeat;
    background-size: 10px;
    background-position: center;
    }
}


/* =================PLACE OF ORIGIN================== */
.sec4 {
    padding: 60px 0;
}
.sec4 h2 {
    text-transform: uppercase;
}

.sec4-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    min-height: 100px;
    border: 1px solid #fff;
    margin-bottom: 30px;
    overflow: hidden;
}

.box h6 {
    font-family: Space Grotesk;
    font-size: 13px;
    font-weight: 400;
}

.box .sec4_image {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: all ease 1s;
}

.box:hover .sec4_image {
    opacity: 1;
}

.sec4-inner {
    margin: 0 auto;
    max-width: 1120px;
} 

/*=========== Media queries for responsiveness ==========*/
/* For small device */
@media screen and (max-width: 330px) {
    .box {
        min-height: 100px;
        margin-right: 1px;
    }
}

/* For medium device */
@media screen and (min-width: 576px) {
    .box {
        min-height: 140px;
        margin: 0 5px 10px 5px;
    }
    .sec4__img {
        width: 100%;
        height: 150px;
    }
}

@media screen and (min-width: 768px) {
    .box {
        width: 170px;
        min-height: 170px;
        margin: 0 10px 10px 10px;
    }
    .sec4__img {
        width: 100%;
        height: 200px;
    }
}

/* For large device */
@media screen and (min-width: 1152px) {
    .sec4 {
        padding-top: 90px;
        padding-bottom: 40px;
    }
    .sec4 h2 {
        text-transform: uppercase;
    }

    .sec4-boxes {
        margin-top: 40px;
        margin-bottom: 0;
        justify-content: space-between;
    }
    
    .box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        min-height: 270px;
        border: 1px solid #fff;
        margin-bottom: 40px;
        overflow: hidden;
    }

    .box h6 {
        font-size:large;
    }
    .sec4_image{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease 1s;
    }
    .sec4__img {
        width: 100%;
        height: 280px;
    }
    
}

/*=============== FOOTER ================*/
.footer {
    position: relative;
    padding-block: 4rem 6rem;
}

.footer__container {
    row-gap: 3rem;
    justify-content: space-around;
}

.logo__img {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    width: 80%;
    height: 80%;
    margin-top: -30px;
    margin-bottom: -29px;
    margin-left: -30px;
}

.footer__data {
    grid-template-columns: repeat (3, max-content);
    gap: 3rem 2rem;
}

.footer__description {
    margin-top: -18px;
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
}

.footer__links {
    display: grid;
    row-gap: .5rem;
}

.footer__info {
    font-style: normal;
}

.footer__social {
    display: flex;
    column-gap: 1.25rem;
}

.footer__social-link {
    font-size: 1.25rem;
    color: #fff;
}

footer:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}
footer:after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}

.copyright {
    padding: 25px 0;
    text-align: center;
}
.copyright p {
    font-size: 14px;
}

/*===================== footer for mobile ====================*/
/* For small device */
@media screen and (max-width: 390px) {
    .footer__container {
        margin-inline: 1.5rem;
    }
    .logo__img {
        display: inline-flex;
        column-gap: .1rem;
        width: 70%;
        height: 100%;
        margin-top: -50px;
        margin-bottom: -29px;
        margin-left: -34px; 
    }
    .footer__description {
        margin-top: -18px;
    }
    .footer__data {
        margin-top: -91px;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        margin-bottom: -51px;
    }
}

/* For medium device */
@media screen and (max-width: 450px) {
    .footer__container {
        margin-inline: 1.5rem;
    }
    .logo__img {
        display: inline-flex;
        column-gap: .1rem;
        width: 70%;
        height: 90%;
        margin-top: -50px;
        margin-bottom: -29px;
        margin-left: -44px; 
    }
    .footer__description {
        margin-top: -25px;
    }
    .footer__data {
        margin-top: -91px;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        margin-bottom: -51px;
    }
}
@media screen and (min-width: 576px) {
    .footer__container {
        margin-inline: 1.5rem;
    }
    .logo__img {
        display: inline-flex;
        column-gap: .1rem;
        width: 40%;
        height: 80%;
        margin-top: -40px;
        margin-bottom: -29px;
        margin-left: -34px; 
    }
    .footer__data { 
        margin-top: -81px;
        grid-template-columns: repeat(2, max-content);
        column-gap: 4.5rem;
    } 
}

@media screen and (min-width: 768px) {
    .footer__container { 
        grid-template-columns: repeat(3, max-content);
        justify-content: space-around;
        align-items: center;
    }
    .logo__img {
        display: inline-flex;
        column-gap: .1rem;
        width: 40%;
        height: 90%;
        margin-top: -80px;
        margin-right: -230px;
    }

    .footer__data {
        margin-top: 9px; 
        margin-left: -300px;
        column-gap: 4rem;
    } 
}

@media screen and (min-width: 1150px) {
    .footer {
        padding-block: 3rem 3rem;
    }
    .logo__img {
        display: inline-flex;
        column-gap: .1rem;
        width: 40%;
        height: 50%;
        margin-top: -70px;
        margin-bottom: -50px;
        margin-left: -40px; 
    }
    .footer__data { 
        grid-template-columns: repeat(3, max-content);
        column-gap: 4.5rem;
    } 
}

/*=================== banner about ===================*/

.banner {
    position: relative;
}

.banner__bg {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.banner__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 58%,
                hsl(0, 0%, 0%) 78%);
}

.banner__container {
    position: relative;
    padding-top: 3rem;
    row-gap: 3rem;
}

.banner__data {
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.banner__subtitle {
    font-size: 28px;
    margin-bottom: .5rem;
}

.banner__title {
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.banner__description {
    margin-bottom: 2rem;
    color: var(--title-color);
}

/*============= ABOUT US =============*/

.about__container {
    row-gap: 3rem;
}

.about__data {
    text-align: center;
}
.about__description {
    margin-bottom: 2rem;
}
.about__image {
    position: relative;
    justify-self: center;
    overflow: hidden ;
}
.about__img {
    width: 300px;
    transition: transform .4s;
}
.about__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.about__image:hover .about__img {
    transform:scale(1.2);
}

/*=============== OUR CONCEPT =============*/

.concept__container {
    row-gap: 3rem;
    padding-bottom: 2.5rem;
}

.concept__data {
    text-align: center;
}

.concept__description {
    margin-bottom: 2rem;
}

.concept__image {
    position: relative;
    justify-self: center;
    overflow: hidden;
}

.concept__img {
    width: 100%;
    transition: transform .4s;
}

.concept__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 50%,
                hsl(0, 0%, 0%) 125%);
}

.concept__image:hover .concept_img {
    transform: scale(1.2);
}

/*===================== for mobile ====================*/

@media screen and (min-width: 300px) {
    
}

/*============= medium device ==============*/

@media screen and (max-width: 576px) {
    .banner__container,
    .about__container,
    .concept__container {
        grid-template-columns: 380px;
        justify-content: center;
    }
    .concept__img {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    .about__container,
    .concept__container {
        margin-top: 100px;
        grid-template-columns: repeat(2, 350px);
        align-items: center;
    }
    .about__data,
    .about__data,
    .section__title,
    .concept__data, .concept__data .section__title {
        text-align: initial;
    }

    .concept__description {
        text-align: right;
    }

    .concept__image {
        order: -1;
    }
}

/*============= For Large Device ============*/
@media screen and (min-width: 1152px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .banner__container {
        grid-template-columns: initial;
        justify-content: initial;
        row-gap: 4rem;
        padding-top: 6.5rem;
    }
    .banner__subtitle {
        margin-top: -2rem;
    }

    .banner__description {
        margin-bottom: 2.5rem;
    }

    .about__container,
    .concept__container {
        grid-template-columns: 400px 460px;
        column-gap: 8.5rem;
        padding-block: 1rem;
    }

    .about__description,
    .concept__data {
        margin-bottom: 3rem;
    }

    .about__img,
    .concept__img {
        width: 500px;
    }
}

/*============ product ORIGIN ==============*/

.origin {
    background-color: #000;
}

.origin__container {
    row-gap: 2rem;
}
.origin__card {
    padding: 1rem 1rem 2rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.origin__image {
    position: relative;
    margin-bottom: .75rem;
}
.origin__img {
    width: 100%;
    height: 180px;
}

.origin__button {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 30px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 33px;
    z-index: 9;
    margin-top: 10px;
    transition: all ease 0.5s;
}

.origin__button::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    opacity: .9;
    z-index: -1;
    transition: all ease 0.5s;
}

.origin__button:hover {
    color: #fff;
}
    
.origin__button:hover::before {
    top: 0;
    height: 100%;
}

.origin__content {
    background-color: #121212;
    margin-bottom: 1.25rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;

}

.origin__subtitle {
    position: relative;
    display: inline-block;
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-bottom: .75rem;
    padding-left: 1.75rem;
}

.origin__subtitle::after {
    content:'';
    width: 20px;
    height: 1px;
    background-color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 0;
}

.origin__title {
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.section__title-1 {
    text-align: center;
    margin-bottom: 30px;
}

.origin__card:hover {
    background-color: #121212;
}


/*================ Product Processing ===============*/

.processing__container {
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 2rem;
    padding-top: 1rem;
    margin-bottom: 55px;
}
.section_title {
    text-align: center;
    margin-bottom: 25px;
}
.processing__card {
    position: relative;
}
.processing__content {
    height: 100%;
    background-color: #000;
    border: 4px solid aliceblue;
    padding: 1rem 1rem 1rem;
    z-index: 5;
    position: relative;
    transition: background-color .4s, border .4s;
}
.processing__border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid red;
    top: 0;
    left: 0;
    transition: transform .4s;
}
.processing__card:hover .processing__border{
    transform: translate(.75rem, .75rem);
}
.processing__image {
    position: relaitve;
}
.processing__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
}



/*================ BREAKPOINTS ===============*/
/* SMALL DEVICE */
@media screen and (max-width: 340px) {
    .origin__img {
        width: 100%;
    }
}
/* MEDIUM DEVICE */
@media screen and (max-width: 576px) {
    .origin__container {
        grid-template-columns: 350px;
        justify-content: center;
        margin-top: 4rem;
    }
    .origin__img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .processing__container {
        grid-template-columns: repeat(2, 250px);
    }

    .origin__container {
        grid-template-columns: repeat(2, 350px);
    }
    .origin__img {
        width: 100%;
    }
}

/* LARGE DEVICE */
@media screen and (min-width: 1150px) {
    .origin__container {
        grid-template-columns: repeat(4, 250px);
        padding-block: 3rem 1rem;
    }
    .origin__card {
        padding: 1.25rem 1.25rem 2.5rem;
    }
    .origin__image {
        margin-bottom: 2rem;
    }
    .origin__content {
        margin-bottom: 2rem;
    }
    .origin__button {
        right: 1.25rem;
    }

    .processing__container {
        grid-template-columns: repeat(3, 282px);
        column-gap: 5rem;
        padding-block: 3rem 5rem;
    }
    .processing__content {
        padding: 1rem 1.5rem 1.5rem;
        border: 6px solid #fff;
    }
    .services__box {
        width: 32px;
        height: 32px;
    }
    .processing__title {
        margin-bottom: 1.5rem;
    }
    .processing__card:hover .processing__border {
        transform: translate(1.25rem, 1.25rem);
    }
    .processing__img {
        width: 50%;
        height: 100px;
    }
}


/*================= History ==================*/

.article__wrapper {
    padding: 75px 3px 313px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.article h1 {
    font-size: 36px;
    margin-bottom: 0px;
}
.story__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px; 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.article__content  {
    font-size: 15px;
    line-height: 17px;
    height: 510px;
    margin-bottom: 5px;
}


@media screen and (max-width: 340px) {
    
}

@media screen and (max-width: 576px) {
    .article__wrapper {
        padding: 110px 10px 10px;
    }
}

@media screen and (min-width: 768px) {
    .article__wrapper {
        padding: 120px 10px 0;
    }
}
@media screen and (min-width: 1150px) {
    .article__wrapper {
        padding: 110px 15px 0;
    }
}

/*================= Contact ===============*/
.sec5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background : url(img/1:2.jpg);
}

.wrapper {
    position: relative;
    z-index: 99;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    -webkit-backdrop-filter: blur(25px);
}

.wrapper::before {
    content:'';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.wrapper h2 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.wrapper .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.wrapper .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}

.wrapper .row100 .col .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}

.wrapper .row100 .col .inputBox input,
.wrapper .row100 .col .inputBox textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.wrapper .row100 .col .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.wrapper .row100 .col .inputBox input:focus + .text,
.wrapper .row100 .col .inputBox input:valid + .text,
.wrapper .row100 .col .inputBox textarea:focus + .text,
.wrapper .row100 .col .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
}

.wrapper .row100 .col .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
} 

.wrapper .row100 .col .inputBox input:focus ~ .line,
.wrapper .row100 .col .inputBox input:valid ~ .line {
    height: 100%;

}

.wrapper .row100 .col .inputBox .textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.wrapper .row100 .col .inputBox textarea:focus ~ .line,
.wrapper .row100 .col .inputBox textarea:valid ~ .line {
    height: 100%;
}

.wrapper .row100 .col input[type="submit"] {
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 3px;
}


@media (max-width: 991px) {
    section::before {
        transform: translate(-200px,-180px);
    }

    section::after {
        transform: translate(220px,180px);
    }

    .wrapper {
        padding: 20px;
    }

    .wrapper h2 {
        font-size: 28px;
    }
}
